<footer id="contactos">

    <div class="divfooteranclas">
        <h2>Contactos</h2>
        <div>
            <a href="mailto: chamorrolmariano@gmail.com"><img class="img1" src="/fotos/Íconos/mail.png" alt="Mail"></a>
            <a href="tel: +5492615379812"><img class="img2" src="/fotos/Íconos/whatsapp.png" alt="Whats app"></a>
            <a href="https://www.instagram.com/tv/CWMS0xfjRcE/?utm_medium=copy_link" target="_blank"><img src="/fotos/Íconos/instagram.png" alt="Instagram"></a> 
        </div>
    
    </div>

    <div class="divfooterp">
        <h2>Medios de Pago</h2>
        <div class="mediospago">
            <img src="/fotos/Íconos/efectivo.png" alt="">
            <img src="/fotos/Íconos/mercadopago.webp" alt="">
            <img src="/fotos/Íconos/transfbanco.png" alt="">         
        </div>
        
        
    </div>
    <div class="divfooteriframe">
        <h2>Ubicación</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.424938221697!2d-69.06752198481115!3d-33.04527778089186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8ec3a77d9e8940ee!2zMzPCsDAyJzQzLjAiUyA2OcKwMDMnNTUuMiJX!5e0!3m2!1ses!2sar!4v1646421169173!5m2!1ses!2sar" width="200" height="150" style="border:3px solid gold; border-radius: 15px; box-shadow: 3px 3px 3px 0 black;" allowfullscreen="" loading="lazy"></iframe>      
    </div>
    

</footer>
 <h3 class="h3footer">Copyright &copy; Proyectos Élchamo </h3>