<header>
    <a href="/"><img src="/fotos/Íconos/Logotipo.png" alt="Logotipo"></a>
    <nav class="nav">
        <div class="divanclasheader">
            <a href="/">Inicio</a>
            <a href="./formulario">Consultas</a>
            <a href="./galeria">Galería</a>
            <a href="./turismo">Turismo</a>       
            <a href="#contactos">Contactos</a>
        </div>
        <h1>
            -Cabaña Suiza-
        </h1>
    </nav>
</header>