{{>header}}
<div class="divmaingaleria">
    <img class="imgGaleria1" src="/fotos/csp2.jpeg" alt="Cabaña suiza paisaje">
    <img src="/fotos/csp3.jpeg" alt="Cabaña suiza paisaje">
    <img src="/fotos/csp5.jpeg" alt="Cabaña suiza paisaje">
    <img src="/fotos/csp6.jpeg" alt="Cabaña suiza paisaje">
    <img src="/fotos/csp7.jpeg" alt="Cabaña suiza paisaje">
    <img src="fotos/cabañanorte.jpeg" alt="Cabaña suiza">
    <img src="/fotos/csp8.jpeg" alt="Cabaña suiza paisaje">
    <img src="/fotos/cabañaparque.jpeg" alt="">
    <img src="/fotos/pileta4.jpeg" alt="">
    <img src="fotos/cabañanorte3.jpeg" alt="Cabaña suiza">
    <img src="/fotos/churrasquera.jpeg" alt="">
    <img src="/fotos/pileta.jpeg" alt="">
    <img src="/fotos/pileta2.jpeg" alt="">
    <img src="/fotos/pileta3.jpeg" alt="">
    <img src="/fotos/quincho1.jpeg" alt="">
    <img src="/fotos/quincho2.jpeg" alt="">
    <img src="/fotos/comedor.jpeg" alt="">
    <img src="/fotos/comedor2.jpeg" alt="">
    <img src="/fotos/cocina.jpeg" alt="">
    <img src="/fotos/cuartomatrimonial.jpeg" alt="">
    <img src="/fotos/cuartoniños.jpeg" alt="">
</div>
{{>footer}}