{{>header}}

<div class="divindex">
    <div class="divservicios">
        <img src="/fotos/Íconos/cesped.png" alt="Parque" title="Parque">
        <h3>Parque</h3>
        <img src="/fotos/Íconos/pileta.png" alt="Pileta" title="Pileta">
        <h3>Pileta</h3>
        <img src="/fotos/Íconos/wifi.png" alt="Wifi" title="Wifi">
        <h3>WiFi</h3>
        <img src="/fotos/Íconos/churrasquera.png" alt="Churrasquera" title="Churrasquera">
        <h3>Asador</h3>
        <img src="/fotos/Íconos/directv.png" alt="Direc TV" title="Direc TV">
        <h3>Direc Tv</h3>
        <img src="/fotos/Íconos/netflix.png" alt="Netflix" title="Netflix">
        <h3>Netflix</h3>
        <img src="/fotos/Íconos/alarma.png" alt="Alarma" title="Alarma">
        <h3>Alarma</h3>
    </div>
    <div class="divsection">
        <section>
            <img class="img1" src="/fotos/csp3.jpeg" alt="" >
            <p>Ubicada en un lugar privilegiado de la precordillera mendocina, alejada de la ciudad pero cerca de todo lo necesario para tu esparcimiento, recreación y comodidad. 
            <br/><br/>
            Hermosas vistas, múltiples circuitos de senderismo en los alrededores, se encuentra a sólo pasos del Río Mendoza, Cacheuta y Dique Potrerillos.
            <br/><br/>
			
            </p>
        </section>
        <section>
            <img class="img2" src="/fotos/cabañanorte3.jpeg" alt="" >
			Posee capacidad para 5 personas, cuenta con 2 dormitorios, uno con cama matrimonial y otro con 3 camas de una plaza, baño, cocina comedor, hogar aleña, espacioso quincho con churrasquera, amplio parque y piscina.
            <br/><br/>
            Ofrece WiFi, TV por cable, airesacondicionados frío/calor, ropa de cama y cocina totalmente equipada.
            <br/><br/>
			Además podrás disfrutar enteramente de la propiedad, manteniendo tu privacidad y seguridad.				
            </p>
            
        </section>
        <section>

            <video class="video1" controls src="/videos/CS3.mp4"></video>
            <h3 style="text-align: center">Pasá por nuestra galería y conocé más de nosotros</h3>
            <a href="./galeria">Galería</a>
            <video class="video2" controls src="/videos/CS1.mp4"></video>
           
        </section>
    </div>
    
</div>

{{>footer}}